.alert {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;

  &--success {
    border: 1px solid #9ccc65;
    color: #33691e;
    background-color: #c5e1a5;
  }

  &--info {
    border: 1px solid #42a5f5;
    color: #0d47a1;
    background-color: #90caf9;
  }

  &--danger {
    border: 1px solid #ef5350;
    color: #b71c1c;
    background-color: #ef9a9a;
  }

  &--warning {
    border: 1px solid #fdd835;
    color: #f57f17;
    background-color: #fff59d;
  }
}
