<mat-card class="device-detail">
  <mat-card-header>
    <div class="device-detail__header">
      <div class="device-detail__title">
        <mat-card-title>Device detail</mat-card-title>
      </div>
      <div class="device-detail__actions">
        <button mat-stroked-button type="submit" routerLink="/devices">
          Go back
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="device$ | async">
      <div class="device-detail__table-wrapper">
        <table
          class="device-detail__table mat-elevation-z0"
          mat-table
          [dataSource]="dataSource"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element" data-label="id">
              {{ element._id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element" data-label="name">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef>Key</th>
            <td mat-cell *matCellDef="let element" data-label="key">
              {{ element.key }}
            </td>
          </ng-container>

          <ng-container matColumnDef="temperature">
            <th mat-header-cell *matHeaderCellDef>Temperature</th>
            <td mat-cell *matCellDef="let element" data-label="temperature">
              <ng-container *ngIf="element.last_measurement?.temperature">
                {{ element.last_measurement?.temperature }} C°
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="humidity">
            <th mat-header-cell *matHeaderCellDef>Humidity</th>
            <td mat-cell *matCellDef="let element" data-label="humidity">
              <ng-container *ngIf="element.last_measurement?.humidity">
                {{ element.last_measurement?.humidity }} %
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="pressure">
            <th mat-header-cell *matHeaderCellDef>Pressure</th>
            <td mat-cell *matCellDef="let element" data-label="pressure">
              <ng-container *ngIf="element.last_measurement?.pressure">
                {{ element.last_measurement?.pressure }} Pa
              </ng-container>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div
          *ngIf="isDataLoading$ | async"
          class="device-detail__spinner-wrapper"
        >
          <mat-progress-spinner color="primary" mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
